In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("../Data_files/2017Q3.csv")
initial_claims = pd.read_csv("MacroEconomicVariables/InitialClaims.csv")
mortgage_FHA = pd.read_csv("MacroEconomicVariables/Mortgage.csv")
national_HPI = pd.read_csv("MacroEconomicVariables/National_HPI.csv")
state_HPI = pd.read_csv("MacroEconomicVariables/States_HPI.csv")
HPI_master = pd.read_csv("MacroEconomicVariables/HPI_master.csv")
unrate = pd.read_csv("MacroEconomicVariables/UNRATE.csv")

In [269]:
mortgage_FHA

            DATE  MORTGAGE30US
0     1971-04-02          7.33
1     1971-04-09          7.31
2     1971-04-16          7.31
3     1971-04-23          7.31
4     1971-04-30          7.29
...          ...           ...
2737  2023-09-14          7.18
2738  2023-09-21          7.19
2739  2023-09-28          7.31
2740  2023-10-05          7.49
2741  2023-10-12          7.57

[2742 rows x 2 columns]

In [270]:
for i in range(len(mortgage_FHA.DATE)):
    mortgage_FHA.DATE[i] = mortgage_FHA.DATE[i][5:7] + mortgage_FHA.DATE[i][0:4]
    mortgage_FHA.DATE[i] = float(mortgage_FHA.DATE[i])

C:\Users\Admin\AppData\Local\Temp\ipykernel_11316\1554451024.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mortgage_FHA.DATE[i] = mortgage_FHA.DATE[i][5:7] + mortgage_FHA.DATE[i][0:4]
C:\Users\Admin\AppData\Local\Temp\ipykernel_11316\1554451024.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mortgage_FHA.DATE[i] = float(mortgage_FHA.DATE[i])

In [271]:
mortgage_FHA.DATE = mortgage_FHA.DATE.astype("int")

In [272]:
mortgage_FHA.DATE

0        41971
1        41971
2        41971
3        41971
4        41971
         ...
2737     92023
2738     92023
2739     92023
2740    102023
2741    102023
Name: DATE, Length: 2742, dtype: int32

In [273]:
mortgage_FHA_Date = mortgage_FHA.DATE.unique()

In [274]:
mortgage_FHA_Date

array([ 41971,  51971,  61971,  71971,  81971,  91971, 101971, 111971,
       121971,  11972,  21972,  31972,  41972,  51972,  61972,  71972,
        81972,  91972, 101972, 111972, 121972,  11973,  21973,  31973,
        41973,  51973,  61973,  71973,  81973,  91973, 101973, 111973,
       121973,  11974,  21974,  31974,  41974,  51974,  61974,  71974,
        81974,  91974, 101974, 111974, 121974,  11975,  21975,  31975,
        41975,  51975,  61975,  71975,  81975,  91975, 101975, 111975,
       121975,  11976,  21976,  31976,  41976,  51976,  61976,  71976,
        81976,  91976, 101976, 111976, 121976,  11977,  21977,  31977,
        41977,  51977,  61977,  71977,  81977,  91977, 101977, 111977,
       121977,  11978,  21978,  31978,  41978,  51978,  61978,  71978,
        81978,  91978, 101978, 111978, 121978,  11979,  21979,  31979,
        41979,  51979,  61979,  71979,  81979,  91979, 101979, 111979,
       121979,  11980,  21980,  31980,  41980,  51980,  61980,  71980,
        81980,  91980, 101980, 111980, 121980,  11981,  21981,  31981,
        41981,  51981,  61981,  71981,  81981,  91981, 101981, 111981,
       121981,  11982,  21982,  31982,  41982,  51982,  61982,  71982,
        81982,  91982, 101982, 111982, 121982,  11983,  21983,  31983,
        41983,  51983,  61983,  71983,  81983,  91983, 101983, 111983,
       121983,  11984,  21984,  31984,  41984,  51984,  61984,  71984,
        81984,  91984, 101984, 111984, 121984,  11985,  21985,  31985,
        41985,  51985,  61985,  71985,  81985,  91985, 101985, 111985,
       121985,  11986,  21986,  31986,  41986,  51986,  61986,  71986,
        81986,  91986, 101986, 111986, 121986,  11987,  21987,  31987,
        41987,  51987,  61987,  71987,  81987,  91987, 101987, 111987,
       121987,  11988,  21988,  31988,  41988,  51988,  61988,  71988,
        81988,  91988, 101988, 111988, 121988,  11989,  21989,  31989,
        41989,  51989,  61989,  71989,  81989,  91989, 101989, 111989,
       121989,  11990,  21990,  31990,  41990,  51990,  61990,  71990,
        81990,  91990, 101990, 111990, 121990,  11991,  21991,  31991,
        41991,  51991,  61991,  71991,  81991,  91991, 101991, 111991,
       121991,  11992,  21992,  31992,  41992,  51992,  61992,  71992,
        81992,  91992, 101992, 111992, 121992,  11993,  21993,  31993,
        41993,  51993,  61993,  71993,  81993,  91993, 101993, 111993,
       121993,  11994,  21994,  31994,  41994,  51994,  61994,  71994,
        81994,  91994, 101994, 111994, 121994,  11995,  21995,  31995,
        41995,  51995,  61995,  71995,  81995,  91995, 101995, 111995,
       121995,  11996,  21996,  31996,  41996,  51996,  61996,  71996,
        81996,  91996, 101996, 111996, 121996,  11997,  21997,  31997,
        41997,  51997,  61997,  71997,  81997,  91997, 101997, 111997,
       121997,  11998,  21998,  31998,  41998,  51998,  61998,  71998,
        81998,  91998, 101998, 111998, 121998,  11999,  21999,  31999,
        41999,  51999,  61999,  71999,  81999,  91999, 101999, 111999,
       121999,  12000,  22000,  32000,  42000,  52000,  62000,  72000,
        82000,  92000, 102000, 112000, 122000,  12001,  22001,  32001,
        42001,  52001,  62001,  72001,  82001,  92001, 102001, 112001,
       122001,  12002,  22002,  32002,  42002,  52002,  62002,  72002,
        82002,  92002, 102002, 112002, 122002,  12003,  22003,  32003,
        42003,  52003,  62003,  72003,  82003,  92003, 102003, 112003,
       122003,  12004,  22004,  32004,  42004,  52004,  62004,  72004,
        82004,  92004, 102004, 112004, 122004,  12005,  22005,  32005,
        42005,  52005,  62005,  72005,  82005,  92005, 102005, 112005,
       122005,  12006,  22006,  32006,  42006,  52006,  62006,  72006,
        82006,  92006, 102006, 112006, 122006,  12007,  22007,  32007,
        42007,  52007,  62007,  72007,  82007,  92007, 102007, 112007,
       122007,  12008,  22008,  32008,  42008,  52008,  62008,  72008,
        82008,  92008, 102008, 112008, 122008,  12009,  22009,  32009,
        42009,  52009,  62009,  72009,  82009,  92009, 102009, 112009,
       122009,  12010,  22010,  32010,  42010,  52010,  62010,  72010,
        82010,  92010, 102010, 112010, 122010,  12011,  22011,  32011,
        42011,  52011,  62011,  72011,  82011,  92011, 102011, 112011,
       122011,  12012,  22012,  32012,  42012,  52012,  62012,  72012,
        82012,  92012, 102012, 112012, 122012,  12013,  22013,  32013,
        42013,  52013,  62013,  72013,  82013,  92013, 102013, 112013,
       122013,  12014,  22014,  32014,  42014,  52014,  62014,  72014,
        82014,  92014, 102014, 112014, 122014,  12015,  22015,  32015,
        42015,  52015,  62015,  72015,  82015,  92015, 102015, 112015,
       122015,  12016,  22016,  32016,  42016,  52016,  62016,  72016,
        82016,  92016, 102016, 112016, 122016,  12017,  22017,  32017,
        42017,  52017,  62017,  72017,  82017,  92017, 102017, 112017,
       122017,  12018,  22018,  32018,  42018,  52018,  62018,  72018,
        82018,  92018, 102018, 112018, 122018,  12019,  22019,  32019,
        42019,  52019,  62019,  72019,  82019,  92019, 102019, 112019,
       122019,  12020,  22020,  32020,  42020,  52020,  62020,  72020,
        82020,  92020, 102020, 112020, 122020,  12021,  22021,  32021,
        42021,  52021,  62021,  72021,  82021,  92021, 102021, 112021,
       122021,  12022,  22022,  32022,  42022,  52022,  62022,  72022,
        82022,  92022, 102022, 112022, 122022,  12023,  22023,  32023,
        42023,  52023,  62023,  72023,  82023,  92023, 102023])

In [275]:
mortgage_FHA_Date.sort()

In [276]:
mortgage_FHA_Date

array([ 11972,  11973,  11974,  11975,  11976,  11977,  11978,  11979,
        11980,  11981,  11982,  11983,  11984,  11985,  11986,  11987,
        11988,  11989,  11990,  11991,  11992,  11993,  11994,  11995,
        11996,  11997,  11998,  11999,  12000,  12001,  12002,  12003,
        12004,  12005,  12006,  12007,  12008,  12009,  12010,  12011,
        12012,  12013,  12014,  12015,  12016,  12017,  12018,  12019,
        12020,  12021,  12022,  12023,  21972,  21973,  21974,  21975,
        21976,  21977,  21978,  21979,  21980,  21981,  21982,  21983,
        21984,  21985,  21986,  21987,  21988,  21989,  21990,  21991,
        21992,  21993,  21994,  21995,  21996,  21997,  21998,  21999,
        22000,  22001,  22002,  22003,  22004,  22005,  22006,  22007,
        22008,  22009,  22010,  22011,  22012,  22013,  22014,  22015,
        22016,  22017,  22018,  22019,  22020,  22021,  22022,  22023,
        31972,  31973,  31974,  31975,  31976,  31977,  31978,  31979,
        31980,  31981,  31982,  31983,  31984,  31985,  31986,  31987,
        31988,  31989,  31990,  31991,  31992,  31993,  31994,  31995,
        31996,  31997,  31998,  31999,  32000,  32001,  32002,  32003,
        32004,  32005,  32006,  32007,  32008,  32009,  32010,  32011,
        32012,  32013,  32014,  32015,  32016,  32017,  32018,  32019,
        32020,  32021,  32022,  32023,  41971,  41972,  41973,  41974,
        41975,  41976,  41977,  41978,  41979,  41980,  41981,  41982,
        41983,  41984,  41985,  41986,  41987,  41988,  41989,  41990,
        41991,  41992,  41993,  41994,  41995,  41996,  41997,  41998,
        41999,  42000,  42001,  42002,  42003,  42004,  42005,  42006,
        42007,  42008,  42009,  42010,  42011,  42012,  42013,  42014,
        42015,  42016,  42017,  42018,  42019,  42020,  42021,  42022,
        42023,  51971,  51972,  51973,  51974,  51975,  51976,  51977,
        51978,  51979,  51980,  51981,  51982,  51983,  51984,  51985,
        51986,  51987,  51988,  51989,  51990,  51991,  51992,  51993,
        51994,  51995,  51996,  51997,  51998,  51999,  52000,  52001,
        52002,  52003,  52004,  52005,  52006,  52007,  52008,  52009,
        52010,  52011,  52012,  52013,  52014,  52015,  52016,  52017,
        52018,  52019,  52020,  52021,  52022,  52023,  61971,  61972,
        61973,  61974,  61975,  61976,  61977,  61978,  61979,  61980,
        61981,  61982,  61983,  61984,  61985,  61986,  61987,  61988,
        61989,  61990,  61991,  61992,  61993,  61994,  61995,  61996,
        61997,  61998,  61999,  62000,  62001,  62002,  62003,  62004,
        62005,  62006,  62007,  62008,  62009,  62010,  62011,  62012,
        62013,  62014,  62015,  62016,  62017,  62018,  62019,  62020,
        62021,  62022,  62023,  71971,  71972,  71973,  71974,  71975,
        71976,  71977,  71978,  71979,  71980,  71981,  71982,  71983,
        71984,  71985,  71986,  71987,  71988,  71989,  71990,  71991,
        71992,  71993,  71994,  71995,  71996,  71997,  71998,  71999,
        72000,  72001,  72002,  72003,  72004,  72005,  72006,  72007,
        72008,  72009,  72010,  72011,  72012,  72013,  72014,  72015,
        72016,  72017,  72018,  72019,  72020,  72021,  72022,  72023,
        81971,  81972,  81973,  81974,  81975,  81976,  81977,  81978,
        81979,  81980,  81981,  81982,  81983,  81984,  81985,  81986,
        81987,  81988,  81989,  81990,  81991,  81992,  81993,  81994,
        81995,  81996,  81997,  81998,  81999,  82000,  82001,  82002,
        82003,  82004,  82005,  82006,  82007,  82008,  82009,  82010,
        82011,  82012,  82013,  82014,  82015,  82016,  82017,  82018,
        82019,  82020,  82021,  82022,  82023,  91971,  91972,  91973,
        91974,  91975,  91976,  91977,  91978,  91979,  91980,  91981,
        91982,  91983,  91984,  91985,  91986,  91987,  91988,  91989,
        91990,  91991,  91992,  91993,  91994,  91995,  91996,  91997,
        91998,  91999,  92000,  92001,  92002,  92003,  92004,  92005,
        92006,  92007,  92008,  92009,  92010,  92011,  92012,  92013,
        92014,  92015,  92016,  92017,  92018,  92019,  92020,  92021,
        92022,  92023, 101971, 101972, 101973, 101974, 101975, 101976,
       101977, 101978, 101979, 101980, 101981, 101982, 101983, 101984,
       101985, 101986, 101987, 101988, 101989, 101990, 101991, 101992,
       101993, 101994, 101995, 101996, 101997, 101998, 101999, 102000,
       102001, 102002, 102003, 102004, 102005, 102006, 102007, 102008,
       102009, 102010, 102011, 102012, 102013, 102014, 102015, 102016,
       102017, 102018, 102019, 102020, 102021, 102022, 102023, 111971,
       111972, 111973, 111974, 111975, 111976, 111977, 111978, 111979,
       111980, 111981, 111982, 111983, 111984, 111985, 111986, 111987,
       111988, 111989, 111990, 111991, 111992, 111993, 111994, 111995,
       111996, 111997, 111998, 111999, 112000, 112001, 112002, 112003,
       112004, 112005, 112006, 112007, 112008, 112009, 112010, 112011,
       112012, 112013, 112014, 112015, 112016, 112017, 112018, 112019,
       112020, 112021, 112022, 121971, 121972, 121973, 121974, 121975,
       121976, 121977, 121978, 121979, 121980, 121981, 121982, 121983,
       121984, 121985, 121986, 121987, 121988, 121989, 121990, 121991,
       121992, 121993, 121994, 121995, 121996, 121997, 121998, 121999,
       122000, 122001, 122002, 122003, 122004, 122005, 122006, 122007,
       122008, 122009, 122010, 122011, 122012, 122013, 122014, 122015,
       122016, 122017, 122018, 122019, 122020, 122021, 122022])

In [277]:
mortgage_FHA = mortgage_FHA.groupby(['DATE'])['MORTGAGE30US'].mean()

In [278]:
mortgage_FHA

DATE
11972     7.4375
11973     7.4375
11974     8.5400
11975     9.4320
11976     9.0160
           ...
122018    4.6375
122019    3.7200
122020    2.6840
122021    3.0980
122022    6.3640
Name: MORTGAGE30US, Length: 631, dtype: float64

In [279]:
# create a dict for mortgage_FHA
mortgage_dict = {'ZB_DTE': mortgage_FHA_Date, "FHA30YearRate": mortgage_FHA}

mortgage_FHA_df = pd.DataFrame(mortgage_dict)

In [280]:
mortgage_FHA_df

        ZB_DTE  FHA30YearRate
DATE
11972    11972         7.4375
11973    11973         7.4375
11974    11974         8.5400
11975    11975         9.4320
11976    11976         9.0160
...        ...            ...
122018  122018         4.6375
122019  122019         3.7200
122020  122020         2.6840
122021  122021         3.0980
122022  122022         6.3640

[631 rows x 2 columns]

In [281]:
mortgage_FHA_df.to_csv('FHA30YearRate.csv')

In [282]:
data['ZB_DTE']

0       42022.0
1      112022.0
2      112019.0
3      112019.0
4       22020.0
         ...
739     82019.0
740    122021.0
741    112022.0
742     62018.0
743     22023.0
Name: ZB_DTE, Length: 744, dtype: float64

In [283]:
float("09.1")

9.1

In [284]:
unrate

           DATE  UNRATE
0    1948-01-01     3.4
1    1948-02-01     3.8
2    1948-03-01     4.0
3    1948-04-01     3.9
4    1948-05-01     3.5
..          ...     ...
905  2023-06-01     3.6
906  2023-07-01     3.5
907  2023-08-01     3.8
908  2023-09-01     3.8
909  2023-10-01     3.9

[910 rows x 2 columns]

In [285]:
for i in range(len(unrate.DATE)):
    unrate.DATE[i] = unrate.DATE[i][5:7] + unrate.DATE[i][0:4]
    unrate.DATE[i] = float(unrate.DATE[i])

C:\Users\Admin\AppData\Local\Temp\ipykernel_11316\3737680640.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unrate.DATE[i] = unrate.DATE[i][5:7] + unrate.DATE[i][0:4]
C:\Users\Admin\AppData\Local\Temp\ipykernel_11316\3737680640.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unrate.DATE[i] = float(unrate.DATE[i])

In [286]:
unrate.DATE

0       11948.0
1       21948.0
2       31948.0
3       41948.0
4       51948.0
         ...
905     62023.0
906     72023.0
907     82023.0
908     92023.0
909    102023.0
Name: DATE, Length: 910, dtype: object

In [287]:
unrate.DATE = unrate.DATE.astype("int")

In [288]:
unrate.DATE

0       11948
1       21948
2       31948
3       41948
4       51948
        ...
905     62023
906     72023
907     82023
908     92023
909    102023
Name: DATE, Length: 910, dtype: int32

In [289]:
unrate

       DATE  UNRATE
0     11948     3.4
1     21948     3.8
2     31948     4.0
3     41948     3.9
4     51948     3.5
..      ...     ...
905   62023     3.6
906   72023     3.5
907   82023     3.8
908   92023     3.8
909  102023     3.9

[910 rows x 2 columns]

In [290]:
unrate.to_csv('UnemploymentRate.csv')

In [4]:
state_HPI

,DATE,ALSTHPI,ARSTHPI,AZSTHPI,CASTHPI,COSTHPI,CTSTHPI,DCSTHPI,DESTHPI,FLSTHPI,...,SDSTHPI,TNSTHPI,TXSTHPI,UTSTHPI,VASTHPI,VTSTHPI,WASTHPI,WISTHPI,WVSTHPI,WYSTHPI
0,1975-01-01,75.22,66.55,60.51,41.69,54.41,62.21,47.85,77.03,65.93,...,74.98,68.01,55.82,55.15,69.75,77.37,46.26,61.77,50.45,49.59
1,1975-04-01,72.22,60.23,59.82,42.75,54.85,62.72,47.60,89.61,83.46,...,70.42,68.82,58.59,58.70,66.78,76.93,47.25,62.79,65.55,47.87
2,1975-07-01,74.62,64.93,59.36,44.32,54.81,61.80,47.32,115.70,66.80,...,65.00,67.75,56.15,55.17,67.53,67.12,49.72,64.48,66.40,50.11
3,1975-10-01,71.70,62.81,56.24,45.76,55.00,61.81,54.69,71.67,68.20,...,63.85,70.93,59.32,59.91,67.77,72.88,48.06,69.05,66.92,53.53
4,1976-01-01,77.10,66.91,58.93,47.80,55.10,64.74,53.10,79.54,67.97,...,62.85,70.30,58.46,61.80,69.37,117.03,50.36,65.49,61.75,54.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,2022-04-01,460.45,402.61,693.14,922.93,835.95,555.13,1104.96,642.21,734.87,...,555.62,603.15,492.95,813.04,641.55,695.62,974.27,498.90,298.05,440.17
190,2022-07-01,474.78,416.73,702.91,917.43,827.46,565.42,1095.05,645.59,766.55,...,567.29,622.57,503.65,808.48,649.62,730.56,966.19,509.61,303.63,451.63
191,2022-10-01,475.18,416.58,680.08,896.33,810.79,564.51,1075.99,650.76,765.85,...,569.87,623.45,500.05,783.84,649.77,717.90,938.39,506.73,302.35,450.62
192,2023-01-01,481.20,424.70,672.86,892.69,811.18,571.32,1046.76,663.90,767.26,...,571.88,626.74,499.41,777.80,657.83,732.67,936.22,511.99,306.91,451.86
193,2023-04-01,488.98,434.88,685.70,914.96,832.20,599.74,1062.00,672.17,785.74,...,587.81,641.70,507.59,793.15,680.88,771.42,965.15,537.62,305.42,455.07

In [5]:
new_column_names = ['DATE'] + [col[:2] for col in state_HPI.columns[1:]]
state_HPI.columns = new_column_names

In [6]:
for i in range(len(state_HPI.DATE)):
    state_HPI.DATE[i] = state_HPI.DATE[i][5:7] + state_HPI.DATE[i][0:4]
    state_HPI.DATE[i] = float(state_HPI.DATE[i])

C:\Users\Admin\AppData\Local\Temp\ipykernel_11964\938136901.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  state_HPI.DATE[i] = state_HPI.DATE[i][5:7] + state_HPI.DATE[i][0:4]
C:\Users\Admin\AppData\Local\Temp\ipykernel_11964\938136901.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  state_HPI.DATE[i] = float(state_HPI.DATE[i])

In [7]:
state_HPI.DATE = state_HPI.DATE.astype("int")

In [8]:
state_HPI.DATE

0       11975
1       41975
2       71975
3      101975
4       11976
        ...
189     42022
190     72022
191    102022
192     12023
193     42023
Name: DATE, Length: 194, dtype: int32

In [11]:
state_HPI_ori = state_HPI

In [20]:
state_HPI

,DATE,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,11975,75.22,66.55,60.51,41.69,54.41,62.21,47.85,77.03,65.93,...,74.98,68.01,55.82,55.15,69.75,77.37,46.26,61.77,50.45,49.59
1,41975,72.22,60.23,59.82,42.75,54.85,62.72,47.60,89.61,83.46,...,70.42,68.82,58.59,58.70,66.78,76.93,47.25,62.79,65.55,47.87
2,71975,74.62,64.93,59.36,44.32,54.81,61.80,47.32,115.70,66.80,...,65.00,67.75,56.15,55.17,67.53,67.12,49.72,64.48,66.40,50.11
3,101975,71.70,62.81,56.24,45.76,55.00,61.81,54.69,71.67,68.20,...,63.85,70.93,59.32,59.91,67.77,72.88,48.06,69.05,66.92,53.53
4,11976,77.10,66.91,58.93,47.80,55.10,64.74,53.10,79.54,67.97,...,62.85,70.30,58.46,61.80,69.37,117.03,50.36,65.49,61.75,54.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,42022,460.45,402.61,693.14,922.93,835.95,555.13,1104.96,642.21,734.87,...,555.62,603.15,492.95,813.04,641.55,695.62,974.27,498.90,298.05,440.17
190,72022,474.78,416.73,702.91,917.43,827.46,565.42,1095.05,645.59,766.55,...,567.29,622.57,503.65,808.48,649.62,730.56,966.19,509.61,303.63,451.63
191,102022,475.18,416.58,680.08,896.33,810.79,564.51,1075.99,650.76,765.85,...,569.87,623.45,500.05,783.84,649.77,717.90,938.39,506.73,302.35,450.62
192,12023,481.20,424.70,672.86,892.69,811.18,571.32,1046.76,663.90,767.26,...,571.88,626.74,499.41,777.80,657.83,732.67,936.22,511.99,306.91,451.86
193,42023,488.98,434.88,685.70,914.96,832.20,599.74,1062.00,672.17,785.74,...,587.81,641.70,507.59,793.15,680.88,771.42,965.15,537.62,305.42,455.07

In [12]:
state_HPI02 = state_HPI.copy()

In [13]:
state_HPI02.DATE = state_HPI02.DATE + 10000

In [19]:
state_HPI02

,DATE,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,21975,75.22,66.55,60.51,41.69,54.41,62.21,47.85,77.03,65.93,...,74.98,68.01,55.82,55.15,69.75,77.37,46.26,61.77,50.45,49.59
1,51975,72.22,60.23,59.82,42.75,54.85,62.72,47.60,89.61,83.46,...,70.42,68.82,58.59,58.70,66.78,76.93,47.25,62.79,65.55,47.87
2,81975,74.62,64.93,59.36,44.32,54.81,61.80,47.32,115.70,66.80,...,65.00,67.75,56.15,55.17,67.53,67.12,49.72,64.48,66.40,50.11
3,111975,71.70,62.81,56.24,45.76,55.00,61.81,54.69,71.67,68.20,...,63.85,70.93,59.32,59.91,67.77,72.88,48.06,69.05,66.92,53.53
4,21976,77.10,66.91,58.93,47.80,55.10,64.74,53.10,79.54,67.97,...,62.85,70.30,58.46,61.80,69.37,117.03,50.36,65.49,61.75,54.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,52022,460.45,402.61,693.14,922.93,835.95,555.13,1104.96,642.21,734.87,...,555.62,603.15,492.95,813.04,641.55,695.62,974.27,498.90,298.05,440.17
190,82022,474.78,416.73,702.91,917.43,827.46,565.42,1095.05,645.59,766.55,...,567.29,622.57,503.65,808.48,649.62,730.56,966.19,509.61,303.63,451.63
191,112022,475.18,416.58,680.08,896.33,810.79,564.51,1075.99,650.76,765.85,...,569.87,623.45,500.05,783.84,649.77,717.90,938.39,506.73,302.35,450.62
192,22023,481.20,424.70,672.86,892.69,811.18,571.32,1046.76,663.90,767.26,...,571.88,626.74,499.41,777.80,657.83,732.67,936.22,511.99,306.91,451.86
193,52023,488.98,434.88,685.70,914.96,832.20,599.74,1062.00,672.17,785.74,...,587.81,641.70,507.59,793.15,680.88,771.42,965.15,537.62,305.42,455.07

In [16]:
state_HPI03 = state_HPI02.copy()

In [17]:
state_HPI03.DATE = state_HPI03.DATE + 10000

In [23]:
state_HPI03

,DATE,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,31975,75.22,66.55,60.51,41.69,54.41,62.21,47.85,77.03,65.93,...,74.98,68.01,55.82,55.15,69.75,77.37,46.26,61.77,50.45,49.59
1,61975,72.22,60.23,59.82,42.75,54.85,62.72,47.60,89.61,83.46,...,70.42,68.82,58.59,58.70,66.78,76.93,47.25,62.79,65.55,47.87
2,91975,74.62,64.93,59.36,44.32,54.81,61.80,47.32,115.70,66.80,...,65.00,67.75,56.15,55.17,67.53,67.12,49.72,64.48,66.40,50.11
3,121975,71.70,62.81,56.24,45.76,55.00,61.81,54.69,71.67,68.20,...,63.85,70.93,59.32,59.91,67.77,72.88,48.06,69.05,66.92,53.53
4,31976,77.10,66.91,58.93,47.80,55.10,64.74,53.10,79.54,67.97,...,62.85,70.30,58.46,61.80,69.37,117.03,50.36,65.49,61.75,54.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,62022,460.45,402.61,693.14,922.93,835.95,555.13,1104.96,642.21,734.87,...,555.62,603.15,492.95,813.04,641.55,695.62,974.27,498.90,298.05,440.17
190,92022,474.78,416.73,702.91,917.43,827.46,565.42,1095.05,645.59,766.55,...,567.29,622.57,503.65,808.48,649.62,730.56,966.19,509.61,303.63,451.63
191,122022,475.18,416.58,680.08,896.33,810.79,564.51,1075.99,650.76,765.85,...,569.87,623.45,500.05,783.84,649.77,717.90,938.39,506.73,302.35,450.62
192,32023,481.20,424.70,672.86,892.69,811.18,571.32,1046.76,663.90,767.26,...,571.88,626.74,499.41,777.80,657.83,732.67,936.22,511.99,306.91,451.86
193,62023,488.98,434.88,685.70,914.96,832.20,599.74,1062.00,672.17,785.74,...,587.81,641.70,507.59,793.15,680.88,771.42,965.15,537.62,305.42,455.07

In [21]:
state_HPI_cat = pd.concat([state_HPI_ori, state_HPI02, state_HPI03])

In [22]:
state_HPI_cat.sort_values(by=['DATE'])

,DATE,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,11975,75.22,66.55,60.51,41.69,54.41,62.21,47.85,77.03,65.93,...,74.98,68.01,55.82,55.15,69.75,77.37,46.26,61.77,50.45,49.59
4,11976,77.10,66.91,58.93,47.80,55.10,64.74,53.10,79.54,67.97,...,62.85,70.30,58.46,61.80,69.37,117.03,50.36,65.49,61.75,54.31
8,11977,81.22,72.76,63.51,58.01,64.98,63.99,59.70,89.84,70.98,...,62.71,74.78,65.93,69.84,73.01,115.09,59.75,72.88,69.28,63.26
12,11978,88.61,80.75,71.32,73.21,76.05,73.68,69.34,85.17,78.33,...,77.07,84.58,76.62,81.55,80.39,90.78,74.35,84.68,85.05,72.94
16,11979,99.45,91.58,87.05,84.87,91.78,95.30,89.54,86.49,89.69,...,89.36,90.68,89.49,94.81,89.44,94.51,88.96,96.75,82.98,87.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,122018,317.39,284.34,407.27,641.79,558.45,395.74,879.19,457.63,452.28,...,383.31,381.55,329.29,482.69,458.03,476.46,626.66,355.49,228.09,315.50
179,122019,336.34,295.84,434.40,663.69,585.16,411.22,910.46,476.60,479.03,...,401.12,403.95,345.66,516.56,480.94,499.77,664.09,372.73,237.08,332.43
183,122020,359.11,312.23,478.18,699.67,620.34,437.88,951.26,504.33,514.45,...,424.20,433.66,365.52,564.71,509.09,535.28,719.98,393.60,248.08,349.54
187,122021,422.15,367.95,613.79,834.06,743.97,508.61,1034.71,587.85,642.06,...,503.15,532.26,438.89,720.50,582.68,629.85,872.75,451.46,280.44,405.86
191,122022,475.18,416.58,680.08,896.33,810.79,564.51,1075.99,650.76,765.85,...,569.87,623.45,500.05,783.84,649.77,717.90,938.39,506.73,302.35,450.62

In [27]:
state_HPI_cat.columns[1:]

Index(['AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA',
       'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO',
       'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK',
       'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI',
       'WV', 'WY'],
      dtype='object')

In [30]:
State_HPI = pd.melt(state_HPI_cat, id_vars=['DATE'], value_vars= state_HPI_cat.columns[1:],
        var_name='State', value_name='HPI')

In [31]:
State_HPI

         DATE State     HPI
0       11975    AL   75.22
1       41975    AL   72.22
2       71975    AL   74.62
3      101975    AL   71.70
4       11976    AL   77.10
...       ...   ...     ...
29095   62022    WY  440.17
29096   92022    WY  451.63
29097  122022    WY  450.62
29098   32023    WY  451.86
29099   62023    WY  455.07

[29100 rows x 3 columns]

In [32]:
State_HPI.to_csv('State_HPI.csv')